[submodule "Lienol"]
	path = Lienol
	url = https://github.com/Lienol/openwrt-package.git
	branch = main
[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/rufengsuixing/luci-app-adguardhome.git
[submodule "luci-app-clash"]
	path = luci-app-clash
	url = https://github.com/frainzy1477/luci-app-clash.git
	ignore = untracked
[submodule "luci-app-openclash"]
	path = luci-app-openclash
	url = https://github.com/vernesong/OpenClash.git
[submodule "luci-app-serverchan"]
	path = luci-app-serverchan
	url = https://github.com/tty228/luci-app-serverchan.git

[submodule "luci-theme-opentomcat"]
	path = luci-theme-opentomcat
	url = https://github.com/Leo-Jo-My/luci-theme-opentomcat
[submodule "ssr-plus"]
	path = ssr-plus
	url = https://github.com/fw876/helloworld.git
[submodule "openwrt-passwall"]
	path = openwrt-passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
	branch = main
[submodule "openwrt-passwall-packages"]
	path = openwrt-passwall-packages
	url = https://github.com/xiaorouji/openwrt-passwall-packages
	branch = main
[submodule "luci-app-mosdns"]
	path = luci-app-mosdns
	url = https://github.com/sbwml/luci-app-mosdns
[submodule "OpenWrt-mihomo"]
	path = OpenWrt-mihomo
	url = https://github.com/morytyann/OpenWrt-mihomo.git
	branch = main
